<div>
    <a href="/search"><button class="btn btn "> Back</button></a>
    <a href="/home"><button class="btn btn float-right">Home</button></a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image">                
                <img src="https://i.pinimg.com/originals/a2/9b/ce/a29bceb51baa6d83cf7147942e1cfb89.jpg" alt="">
            </div>
        </div> 
            <div class="col-md-6">
                <div><h3>Details</h3></div>
                <div>
                    <table>
                        <tr>
                            <td>Breed</td>
                            <td>:</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>:</td>
                        </tr>
                        <tr>
                            <td>Spayed/Neutered</td>
                            <td>:</td>
                        </tr>
                    </table>
                </div>
            </div>
        
    </div>
</div>