<div class="img">
    <a href="mdcare"><button class="btn btn">Back</button></a>
    <img src="../../../assets/case1.jpg" alt="">
    <marquee behavior="scroll" direction="left" ><h4 >Oral care for your dog</h4></marquee>
</div>
<div class="container mt-5">
    <div>
        <h2>Oral care for your dog</h2>
    </div>
    <p>How often do you clean your furry friend’s teeth? Research reveals that many pet parents don’t focus on the
        importance of oral hygiene. Sure, they take care of their pets’ wellness, but ignore any early signs of dental
        illnesses. According to the American Veterinary Dental College, most dogs show signs of periodontal disease from
        the age of three. Simple symptoms such as bad breath often go unacknowledged by owners because of lack of
        awareness. </p>
    <div>
        <h5> Here a few tips to follow for healthy teeth in pets</h5>
        <h6>1. Regular Brushing</h6>
        <p>As a pet parent, you must know that brushing your dog’s teeth matters the most in maintaining their oral
            hygiene. The most effective way to prevent plaque accumulation is regular tooth brushing- at least 3 times a
            week in healthy mouth or immediately after professional teeth cleaning. Ensure that you build the habit of
            regular brushing from the puppy stage itself as it is easy to train at that age. Also, you must know your
            pet need toothbrush and toothpaste specially designed for them. Donot use human tooth brush & paste.</p>
        <h6>2.Don’t miss the early symptoms</h6>
        <p>Identifying that your dog is suffering from a dental condition could be tough, especially in the early
            stage.. However, if you closely look at their chewing/eating habits and understand their body language, you
            will know if they’re experiencing any discomfort at the time of eating. Another symptom that you can’t
            afford to miss is bad breath. To keep their oral hygiene in check, you must keep giving them scientifically
            designed and clinically validated chews like Pedigree Dentastix. Another symptom that you must watch out for
            is behavioral change caused due to chronic pain. The key is prevention, therefore don’t wait until it gets
            too late. </p>
        <h6>3. Regular dental checkup</h6>
        <p>You must get your pet’s teeth cleaned by a professional veterinarian at least twice a year. This will help
            you mitigate any major infection and keep their teeth and gums healthy. </p>
        <h6>4. Feeding the right diet</h6>
        <p>What you feed your dog plays a major role in keeping their teeth healthier. Although home made meals are
            nice, it may not be good for your pet’s oral hygiene. Feeding a complete & balanced meal like Pedigree dry
            food will not only nourish their body, but keep their teeth and gums healthy & stronger. Dental treats such
            as Pedigree Dentastix work as magic when it comes to cleaning your pet’s teeth and keeping the bad breath at
            bay. </p>
    </div>
</div>