<div style="background-color: goldenrod">
    <div class="container" style="background-color: rgba(0, 255, 128, 0.747);">
        <h1>Profile page</h1>
        <div class="row" style="padding: 40px;">
            <div class="col-md-4">
                <div style="height: 200px; width: 200px; background-color: gray; align-items: center;">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <h2>User name</h2>
                <p>tarakes.koncha.tt@gmail.com</p>
            </div>
        </div>
        <div style="padding: 30px;">
            <h3>Account</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>