.mc{
    padding-top: 200px;
    padding:70px;
    text-align:center;
    background-color: rgb(95,95,97);
    color: white;
}
.dog{
    height: 600px;
    background-image: url("../../assets/d3.jpg") ;
    background-size: cover;
    background-position: center;
}
.dog h1{
    background-color: rgba(0,0,0, 0.5) ;
    color: white;
    margin-top: 220px ;
    text-align: center;
    font-weight: 1000;
}
img{
    height:150px;
    width: 150px;
    border-radius: 50%;
}
.card-body{
    text-align:center;
    height:400px;
    border-radius: 20px;
    background-color: rgba(22,22,22, 0.5);
    color: white;
}
.card-body:hover{
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 20px white;
    transform: perspective(400px) rotateX(0deg);
    color: black;
}
.container{
    padding:  52px 0 80px 0;
}
.bg{
    background: url("../../assets/carebg.jpg") fixed center;
}
@media (max-width: 990px){
   
    .card-body h5{
         font-size: 20px;
    }
    .card-body p{
        font-size: 13px;
   }
    img{
        height:100px;
        width: 100px;
    }
}
@media (max-width: 770px){
    .card-body{
        height: 250px;
        margin: 5px;
        padding-top: 10%;  
    }
    img{
        height:150px;
        width: 150px;
         border-radius: 10px;
    }
    #cardimg1{
        float: left;
    }
    #cardimg2{
        float: right;
    }
}