  <div class="dog">
    <a href=""><button class="btn btn dark">Back</button></a>
    <h1>Medical Care</h1>
  </div>
  
    <div class="mc" >
        
        <p>An ill pet can be difficult to handle. Track symptoms, spot the signs of common illnesses and get your</p>
    </div>
    
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card-body">
                    <div class="image">
                        <img src="../../assets/card.jpg" id="cardimg1">
                    </div>
                    <div>
                        <h5 class="head">Oral care for your dog</h5>
                        <p>More than 80% of dogs show signs of periodontal disease ....</p>
                    </div>
                        <a href="/case1" class="btn btn-outline-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <div class="image">
                        <img src="../../assets/card.jpg" id="cardimg2">
                    </div>
                    <div>
                        <h5 class="head">First Aid for your pet</h5>
                        <p>When it comes to medical treatment, seconds and minutes....</p>
                    </div>
                    <a href="/case2" class="btn btn-outline-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <div class="image">
                        <img src="../../assets/card.jpg" id="cardimg1">
                    </div>                    
                    <div>
                        <h5 class="head">How to recognise common illnesses?</h5>
                        <p>Some dogs with simple fever continue to eat and play....</p>
                    </div>
                        <a href="/case3" class="btn btn-outline-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <div class="image">
                        <img src="../../assets/card.jpg" id="cardimg2">
                    </div>   
                    <div>
                        <h5 class="head">Dealing with fleas and ticks</h5>
                        <p>If your dog has fleas, he may be constantly scratching.. </p>
                    </div>
                        <a href="/case4" class="btn btn-outline-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>    
