
<div class="bg">
    <div id="btn">
        <a href="" ><button class="btn btn" style="color: white;"> Back</button></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                <h4>Pet Search Results</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="image">
                                <a href="/shprofile"><img
                                        src="https://i.pinimg.com/originals/a2/9b/ce/a29bceb51baa6d83cf7147942e1cfb89.jpg"
                                        alt=""></a>
                            </div>
                            <b>Breed : </b><br>
                            <b>Age :</b><br>
                            <b>Name :</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="image">
                                <a href="/shprofile"><img
                                        src="https://i.pinimg.com/originals/a2/9b/ce/a29bceb51baa6d83cf7147942e1cfb89.jpg"
                                        alt=""></a>
                            </div>
                            <b>Breed : </b><br>
                            <b>Age :</b><br>
                            <b>Name :</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="image">
                                <a href="/shprofile"><img
                                        src="https://i.pinimg.com/originals/a2/9b/ce/a29bceb51baa6d83cf7147942e1cfb89.jpg"
                                        alt=""></a>
                            </div>
                            <b>Breed : </b><br>
                            <b>Age :</b><br>
                            <b>Name :</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="image">
                                <a href="/shprofile"><img
                                        src="https://i.pinimg.com/originals/a2/9b/ce/a29bceb51baa6d83cf7147942e1cfb89.jpg"
                                        alt=""></a>
                            </div>
                            <b>Breed :</b><br>
                            <b>Age :</b><br>
                            <b>Name :</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <h4>Find Match</h4>
                <div>
                    <form action="">
                        <table class="table mt-5">
                            <tr>
                                <td>Breed</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Distance</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Size</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="btn btn-success" style="float: right;">Search</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>