<div class="bg">
    <a href=""><button class="btn btn" style="color: white;">Back</button></a>
    
<div class="about">
    <h3>A Little Bit About Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus sed nulla necessitatibus praesentium voluptates enim. Nobis dicta illo, quaerat nisi porro ducimus, dolores impedit laudantium nemo nulla, cumque maxime.</p>
    <p>There are many reasons for a pet to become available for adoption, usually through no fault of their own.
        Many owners will give up their pets after realizing they can’t afford to keep them, they no longer want them, or sometimes just leave them behind after moving out of town. Although people often think that pets available in shelters are all mixed breeds, 25-30% of dogs up for adoption are actually purebred – and so are the cats!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a, magni nemo reprehenderit quibusdam dicta alias atque explicabo rem deleniti quaerat, nostrum autem nesciunt iure, optio corporis beatae minus ipsa.</p>
</div>

    <div class="danger">
        <h2>Your Best is waiting for you</h2>
        <button class="btn btn-outline-info">Search</button>
    </div>
</div>