label{
    padding: 8px;
    font-weight: 500;
    font-size: 20px;
}
td{
    padding: 5px;
}
input{
    padding: 5px;
}
.bg{
    background: url("../../../assets/contact.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px;
    }
@media(max-width: 770px){
    
}
