<div class="bg">
<a href=""><button class="btn btn" style="color: white;">Back</button></a>
    <div class="container p-5">
        <h3>Contact Us Online</h3>
        <p>Lorem ipsum dolor sit, he i sone to do many thinga amet consectetur adipisicing elit. Dolores, dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, consequatur.</p>         
                <div class="contact-form">
                    <table>
                        <tr>
                            <td>First Name</td>
                            <td>Last Name</td>
                        </tr>
                        <tr>
                            <td><input type="text" ></td>
                            <td><input type="text" ></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                        </tr>
                        <tr>    
                            <td><input type="text" ></td>
                        </tr>
                        <tr>
                            <td>Message</td>
                        </tr>
                    </table>
                    <textarea name="" id="" cols="54" rows="6"></textarea>
                </div>
                <button class="btn btn-primary" >Send Message</button>
                <br>
                <!-- <p>If you are resident in any other jurisdiction, you may contact Pethealth Services (USA) Inc. at 3315 Algonquin Rd, Suite 450, Rolling Meadows, IL, 60008, USA.</p>       -->
    </div>

</div>

